imdb.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name = "IMDB">
        <xs:complexType>
            <xs:sequence>
                <xs:element name = "Movies">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name = "Movie" minOccurs = "1" maxOccurs = "unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name = "Title" type = "xs:string"></xs:element>
                                        <xs:element name = "Crew">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name = "Director" type = "xs:string"></xs:element>
                                                    <xs:element name = "Stars">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name = "Star"  minOccurs = "1" maxOccurs = "unbounded">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name = "Name" type = "xs:string"></xs:element>
                                                                            <xs:element name = "BirthYear" type = "xs:integer"></xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name = "Genres">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name = "Genre"  minOccurs = "1" maxOccurs = "unbounded" type="xs:string"></xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name = "Description">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name = "Year" type = "xs:integer"></xs:element>
                                                    <xs:element name = "RunTime" type = "xs:integer"></xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name = "Rating" type = "xs:decimal"></xs:element>
                                        <xs:element name="Sequels">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Sequel" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"></xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Prequels">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Prequel" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"></xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="MovieID" type="xs:ID" use="required"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name = "TVshows">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name = "TVshow">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name = "Title" type = "xs:string"></xs:element>
                                        <xs:element name = "Crew">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name = "Director" type = "xs:string"></xs:element>
                                                    <xs:element name = "Stars">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name = "Star"  minOccurs = "1" maxOccurs = "unbounded">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name = "Name" type = "xs:string"></xs:element>
                                                                            <xs:element name = "BirthYear" type = "xs:integer"></xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name = "Genres">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name = "Genre"  minOccurs = "1" maxOccurs = "unbounded" type ="xs:string"></xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name = "Seasons">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name = "No_of_Seasons" type = "xs:integer"></xs:element>
                                                    <xs:element name = "Season" minOccurs = "1" maxOccurs = "unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name = "Episodes">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name = "Episode" minOccurs = "1" maxOccurs = "unbounded">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name = "Title" type = "xs:string"></xs:element>
                                                                                        <xs:element name = "Rating" type = "xs:decimal"></xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name = "No_of_Episodes" type = "xs:integer"></xs:element>
                                                                <xs:element name = "Rating" type = "xs:decimal"></xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name = "Description">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name = "Year" type = "xs:integer"></xs:element>
                                                    <xs:element name = "Runtime" type = "xs:integer"></xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="TvShowID" type="xs:ID" use="required"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>